/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #3507b6;
  --ifm-color-primary-dark: #3006a4;
  --ifm-color-primary-darker: #2d069b;
  --ifm-color-primary-darkest: #25057f;
  --ifm-color-primary-light: #3a08c8;
  --ifm-color-primary-lighter: #3d08d1;
  --ifm-color-primary-lightest: #4509ed;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #81d8fd;
  --ifm-color-primary-dark: #5bccfc;
  --ifm-color-primary-darker: #49c7fc;
  --ifm-color-primary-darkest: #10b5fb;
  --ifm-color-primary-light: #a7e4fe;
  --ifm-color-primary-lighter: #b9e9fe;
  --ifm-color-primary-lightest: #f2fbff;
}

.medium-zoom-overlay{
  /*background-color: #00a400 !important;*/
  z-index: 999;
}

.medium-zoom-image--opened{
  z-index: 1000;
}

#atlwdg-trigger.atlwdg-trigger.atlwdg-RIGHT{
  background-color: #9d2235;
}
