/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #3507b6;
  --ifm-color-primary-dark: #3006a4;
  --ifm-color-primary-darker: #2d069b;
  --ifm-color-primary-darkest: #25057f;
  --ifm-color-primary-light: #3a08c8;
  --ifm-color-primary-lighter: #3d08d1;
  --ifm-color-primary-lightest: #4509ed;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #00fbff;
  --ifm-color-primary-dark: #00e2e6;
  --ifm-color-primary-darker: #00d5d9;
  --ifm-color-primary-darkest: #00b0b3;
  --ifm-color-primary-light: #1afbff;
  --ifm-color-primary-lighter: #26fcff;
  --ifm-color-primary-lightest: #4dfcff;
  --ifm-background-color: #0c0c0e;
}

.medium-zoom-overlay{
  /*background-color: #00a400 !important;*/
  z-index: 999;
}

.medium-zoom-image--opened{
  z-index: 1000;
}

#atlwdg-trigger.atlwdg-trigger.atlwdg-RIGHT{
  background-color: #9d2235;
}
